{% load forms %}
<div class="row">
  <div class="col-md-10 col-md-push-1">
    <div class="row">
      {% for monitor in models.Pairing.monitor_options %}
      <div class="col-md-3 content-offset-10">
        <label ng-disabled="{{ monitor.id }} === currentRunning" class="btn btn-primary block" uib-btn-radio="{{ monitor.id }}" ng-model="editing.{{ models.Pairing.get_api_name }}.monitor_id" uib-btn-radio="undefined">
          {{ monitor.user_machine_name }}
        </label>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
