*~
.sass-cache/
*.sqlite
*.pyc
static/*
.coverage
htmlcov
libpeerconnection.log
venv
bin
include
lib
pip-selfcheck.json
djcelery
lib64
somno/local_settings.py
*.css.map
somno/assets/CACHE
node_modules
%SystemDrive%
.vscode
