[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = "==3.6"
dj-database-url = "==0.2.1"
gunicorn = "==19.5.0"
psycopg2 = "==2.7"
dj-static = "==0.0.6"
django-reversion = "==3.0.1"
django-axes = "==1.7.0"
letter = "==0.5"
requests = "==2.20.1"
djangorestframework = "==3.7.4"
opal = "==0.13.1"
jsonfield = "==2.0.2"
fhirclient = "*"
Django = "==2.0.13"
django_compressor = "==2.2"

[requires]
python_version = "3.7"
