Django==1.10.8
coverage==3.6
dj-database-url==0.2.1
gunicorn==0.17.4
psycopg2==2.7
wsgiref==0.1.2
dj-static==0.0.6
django-reversion==1.10.2
django-axes==1.7.0
ffs==0.0.8.2
letter==0.4.1
requests==2.18.4
djangorestframework==3.4.7
django-compressor==1.5
opal==0.10.0
