django==2.0.13
coverage==3.6
dj-database-url==0.2.1
gunicorn==19.5.0
psycopg2==2.7
dj-static==0.0.6
django-reversion==3.0.1
django-axes==1.7.0
letter==0.5
requests==2.20.1
djangorestframework==3.7.4
django-compressor==2.2
opal==0.13.1
jsonfield==2.0.2
