<div class="row">
  <div class="col-md-12 content-offset-below-10">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled" id="list-dropdown">
        Add
        <i class="fa fa-angle-down pull-right"></i>
      </button>
      <ul class="uib-dropdown-menu slides" role="menu" aria-labelledby="list-dropdown">
        <li><a ng-click="episode.recordEditor.newItem('{{ models.GivenDrug.get_api_name }}')" href="">Drug</a></li>
        <!-- <li><a open-pathway="infusion_pathway" pathway-episode="episode" pathway-callback="refresh()" href="">Infusion</a></li> -->
        <li><a ng-click="episode.recordEditor.newItem('{{ models.Infusion.get_api_name }}')" href="">Infusion</a></li>
        <li><a ng-click="episode.recordEditor.newItem('{{ models.GivenFluids.get_api_name }}')" href="">Fluid</a></li>
        <li><a ng-click="episode.recordEditor.newItem('{{ models.AnaestheticNote.get_api_name }}')" href="">Event</a></li>
      </ul>
    </div>
  </div>
</div>

<div style="width: calc(100% - 100px); margin-left: 100px" somno-timeline id="#timeline1" ng-controller="d3timeline">
</div>
{# beginning of timeline stuff #}
<div>
  <div id="timeline2"></div>
</div>
{# end of timeline stuff #}

