<div class="row">
  <div class="col-md-12 content-offset-below-10">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled" id="list-dropdown">
        Add
        <i class="fa fa-angle-down pull-right"></i>
      </button>
      <ul class="uib-dropdown-menu slides" role="menu" aria-labelledby="list-dropdown">
        <li><a ng-click="episode.recordEditor.newItem('{{ models.GivenDrug.get_api_name }}')" href="">Drug</a></li>
        <li><a ng-click="episode.recordEditor.newItem('{{ models.Infusion.get_api_name }}')" href="">Infusion</a></li>
        <li><a ng-click="episode.recordEditor.newItem('{{ models.GivenFluids.get_api_name }}')" href="">Fluid</a></li>
        <li><a ng-click="episode.recordEditor.newItem('{{ models.AnaestheticNote.get_api_name }}')" href="">Event</a></li>
        <li><a ng-click="episode.recordEditor.newItem('{{ models.AnaestheticProcedure.get_api_name }}')" href="">Procedure</a></li>
      </ul>
    </div>
  </div>
</div>

{# beginning of timeline stuff #}
<div class="row">
  <div ng-controller="newgraph">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-9 col-md-offset-2" >
      <div id="drugchart"></div>
    </div>
  </div>  
</div>
{# end of timeline stuff #}

