{% include "_partials/somno_top_nav.html" %}
<div class="container content-offset-80 search-container">

  <div class="row">
    <form ng-submit="search()" class="form form-horizontal">
      <div class="row content-offset">
        <div class="col-sm-4 col-sm-push-4">
          <input type="text" autofocus
                 name="name"
                 slash-key-focus="!state || state==='normal'"
                 ng-blur="enableShortcuts()"
                 ng-focus="disableShortcuts()"
                 placeholder="Name or Hospital Number"
                 ng-model="query.searchTerm"
                 class="form-control"
                 autocomplete="off"
                 />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-push-4 text-center">
          <a ng-click="search()" class="btn btn-lg btn-primary content-offset-25">
            <i class="fa fa-search"></i>
            Search
          </a>
        </div>
      </div>
    </form>
  </div>
  <div ng-show="results.length">
    {% include 'partials/_patient_summary_list.html' %}
  </div>

  <div ng-hide="!searched || results.length" class="panel-body">
    <div class="row">
      <div class="col-sm-4 col-sm-push-4 lead text-center">
        <p>
          We couldn't find any results for your search.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
