{% load panels %}

<!-- things we need. Nav bar, physical attributes, pre op bloods, pre op visit, anaesthetic plan, previous episodes -->
<div ng-controller="preoperative">
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" ng-class="{'active': tab=='preop'}" ng-click="tab='preop'">Assessment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  ng-class="{'active': tab=='consent'}" ng-click="tab='consent'">Consent</a>
    </li>
    </ul>
  </div>
</div>

<div ng-switch="tab">
  <div class="row" ng-switch-when="preop">
    <div class="col-md-4">
      {% record_panel models.PatientPhysicalAttributes title="Height and Weight" %}
      {% record_panel models.AnaestheticAssesment %}
      {% block episodes_switcher %}
               <div class="panel panel-default">
                 <div class="panel-heading ">
                   <h3>
                     Previous Anaesthetics
                   </h3>
                 </div>
                 <div class="list-group">
                   <a class="list-group-item episodelist pointer"
                      ng-class="{'bg-active': view == 'Anaesthetic Chart' && e.id == episode.id}"
                      ng-repeat="e in patient.episodes"
                      href="[[ '/#' + e.link + '/anaesthetic_chart']]"
                      ng-click="switch_to_episode($index, $event)"
                      >
                     [[ e.category_name ]]
                     <span ng-show="e.start">
                       [[ e.start | shortDate ]] - [[ e.end | shortDate ]]<span ng-show="!e.end">Current</span>
                     </span>
                   </a>
                 </div>
               </div>
        {% endblock episodes_switcher %}
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          {% record_panel models.DrugHistory %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          {% record_panel models.AirwayAssessment %}
        </div>
        <div class="col-md-4">
          {% record_panel models.Bloods %}
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-switch-when="consent">
    <div class="col-md-12">
      {% record_panel models.AnaestheticPlan %}
    </div>
  </div>
</div>
</div>
