{% load panels %}

<div ng-controller="newgraph" class="col-md-12">
  <div class="row">
    <div class="col-md-12 content-offset-below-10">
      <div class="btn-group" uib-dropdown is-open="status.isopen">
        <button type="button" class="btn btn-secondary" uib-dropdown-toggle ng-disabled="disabled" id="list-dropdown">
          Add
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="uib-dropdown-menu slides" role="menu" aria-labelledby="list-dropdown">
          <li><a ng-click="episode.recordEditor.newItem('{{ models.GivenDrug.get_api_name }}')" href="">Drug</a></li>
          <li><a ng-click="episode.recordEditor.newItem('{{ models.GivenDrug.get_api_name }}')" href="">Fluid</a></li>
          <li><a ng-click="episode.recordEditor.newItem('{{ models.AnaestheticNote.get_api_name }}')" href="">Event</a></li>
        </ul>
      </div>
      <a open-pathway="infusion_pathway" pathway-episode="episode" pathway-callback="refresh()" class="btn btn-secondary">Edit Infusions</a>
    </div>
  </div>
  <div class="row" ng-click="episode.recordEditor.newItem('{{ models.GivenDrug.get_api_name }}')">
    <div class="col-md-3">
      <div class="list-group">
        <div ng-repeat="drug in druglist" class="list-group-item" style="min-height:20px;margin:2px;padding:3px;">
          [[ drug ]]
        </div>
      </div>
    </div>
    <div class="col-md-9" >
      <div class="col-md-12">
        <div id="drugchart" style="padding-top:10px;"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      {% record_panel models.AnaestheticNote %}
      {% record_panel models.GivenDrug %}
    </div>
    <div class="col-md-9">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"  ng-click="showObs = ! showObs">Observations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  ng-click="showVent = ! showVent">Ventilation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="showchart = ! showExtras">Extras</a>
        </li>
        </ul>
      </div>
      <div class="col-md-12" ng-show="showObs" ng-click="episode.recordEditor.newItem('{{ models.AnaestheticNote.get_api_name }}')">
        <div id="chart"></div>
      </div>
      <div class="col-md-12" ng-show="showVent">
        <div id="ventchart"></div>
        <div id="gaschart" ></div>
      </div>
    </div>
  </div>



</div>

{% comment %}
<div class="col-md-3">
  <button open-pathway="induction_drugs" pathway-episode="episode" pathway-callback="refresh()" class="btn btn-primary">Induction</button>
  <button class="btn btn-secondary">Start Data</button>
  {% record_panel models.Induction %}
  [[ episode.Induction.size ]]

</div>
{% endcomment %}
