<span ng-show="item.Number_Of_Attempts">
    [[ item.Number_Of_Attempts ]]
   <br />
</span>
<span ng-show="item.Depth_Of_Space">
    [[ item.Depth_Of_Space ]]
   <br />
</span>
<span ng-show="item.Catheter_Left_In">
    [[ item.Catheter_Left_In ]]
   <br />
</span>
<span ng-show="item.Drug_Concentration">
    [[ item.Drug_Concentration ]]
   <br />
</span>
<span ng-show="item.Drug_Dose">
    [[ item.Drug_Dose ]]
   <br />
</span>
<span ng-show="item.Procedure_Note">
    [[ item.Procedure_Note ]]
   <br />
</span>
<span ng-show="item.Time_Done">
    [[ item.Time_Done | shortDateTime ]]
   <br />
</span>
<span ng-show="item.Procedure_Type">
    [[ item.Procedure_Type ]]
   <br />
</span>
<span ng-show="item.Device_Used">
    [[ item.Device_Used ]]
   <br />
</span>
<span ng-show="item.Drug_Used">
    [[ item.Drug_Used ]]
   <br />
</span>
<span ng-show="item.Sterility">
    [[ item.Sterility ]]
   <br />
</span>
<span ng-show="item.Ultrasound">
    [[ item.Ultrasound ]]
   <br />
</span>
<span ng-show="item.Body_Site">
    [[ item.Body_Site ]]
   <br />
</span>
<span ng-show="item.Technique">
    [[ item.Technique ]]
   <br />
</span>
<span ng-show="item.Procedure_Name">
    [[ item.Procedure_Name ]]
   <br />
</span>