<div class="row">
  <b>Hb:</b>
  <span ng-show="item.Hb">
      Hb: [[ item.Hb ]]
  </span>
  <b>Plt</b>
  <span ng-show="item.Plt">
      [[ item.Plt ]]
     <br />
  </span>
</div>
<div class="row">
  <b>Na</b>
  <span ng-show="item.Na">
      [[ item.Na ]]

  </span>
  <b>K</b>
  <span ng-show="item.K">
      [[ item.K ]]

  </span>
  <b>Urea</b>
  <span ng-show="item.Urea">
      [[ item.Urea ]]

  </span>
  <b>Creat</b>
  <span ng-show="item.Creat">
      [[ item.Creat ]]

  </span>
</div>


<span ng-show="item.WBC">
    [[ item.WBC ]]
   <br />
</span>
<span ng-show="item.INR">
    [[ item.INR ]]
   <br />
</span>
<span ng-show="item.CRP">
    [[ item.CRP ]]
   <br />
</span>
