{% extends 'base_templates/form_modal_base.html' %}
{% block title %}
  Add an Infusion
{% endblock %}
{% block modal_body %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ block.super }}
    </div>
  </div>
{% endblock %}
{% block modal_save %}
  <div class="row">
    <div class="col-md-12">
      <span ng-show="form">
        <button check-form="form" class="btn btn-primary pull-left"
                ng-click="form.$valid && save('save')">
          Add infusion
        </button>
        <a ng-click="cancel()" class="somno-cancel-text-btn">or cancel</a>
      </span>
    </div>
  </div>
{% endblock %}
{% block modal_cancel %}{% endblock %}
