{% load forms %}
{% textarea field="AnaestheticAssesment.Assessment" %}
{% textarea field="AnaestheticAssesment.General_Risks" %}
{% textarea field="AnaestheticAssesment.AdditionalRisks" %}
{% datetimepicker field="AnaestheticAssesment.TimeSeen" %}
{% input field="AnaestheticAssesment.Malampati" %}
{% input field="AnaestheticAssesment.Dentition" %}
{% input field="AnaestheticAssesment.ASA" %}
{% input field="AnaestheticAssesment.Frailty" %}
{% input field="AnaestheticAssesment.previous_anaesthetics" %}