{% load forms %}

{% input field="AnaestheticProcedure.Procedure_Type" %}

<span ng-show="editing.anaesthetic_procedure.Procedure_Type == 'Cannulation'">
  <div>
    <span ng-value="Cannulation">{% static "AnaestheticProcedure.Procedure_Name" %}</span>
    {% input field="AnaestheticProcedure.Body_Site" label="site" %}
    {% input field="AnaestheticProcedure.Device_Used" %}
    {% input field="AnaestheticProcedure.Number_Of_Attempts" %}
    {% radio field="AnaestheticProcedure.Ultrasound" %}
  </div>
</span>

<span ng-show="editing.anaesthetic_procedure.Procedure_Type == 'Neuraxial'">
  <div class="col-md-12">
    {% input field="AnaestheticProcedure.Procedure_Name" %}
    {% input field="AnaestheticProcedure.Body_Site" label="Level" %}
    <span ng-show="editing.anaesthetic_procedure.Procedure_Name.indexOf('Epidural') != -1">

        <div class="row">
          <div class="col-md-4">
          {% input field="AnaestheticProcedure.Depth_Of_Space" unit="cm" label="Depth" style="vertical" %}
          </div>
          <div class="col-md-4 col-md-offset-1">
          {% input field="AnaestheticProcedure.Catheter_Left_In" unit="cm" label="Catheter in" style="vertical" %}
          </div>
        </div>

    </span>
    {% input field="AnaestheticProcedure.Technique" %}
    {% input field="AnaestheticProcedure.Device_Used" %}
    {% input field="AnaestheticProcedure.Sterility" %}
    <div class="row">
      <div class="col-md-4">
      {% input field="AnaestheticProcedure.Number_Of_Attempts" label="Attempts" maxlength="3" style="vertical"%}
      </div>
    </div>
    {% radio field="AnaestheticProcedure.Ultrasound" %}
  </div>
</span>

<span ng-show="editing.anaesthetic_procedure.Procedure_Type == 'Regional Anaesthetic'">
  <div>
    {% static "AnaestheticProcedure.Procedure_Name" %}
    {% input field="AnaestheticProcedure.Body_Site" %}
    {% input field="AnaestheticProcedure.Device_Used" %}
    {% input field="AnaestheticProcedure.Drug_Used" %}
    {% input field="AnaestheticProcedure.Drug_Concentration" unit="%" %}
    {% input field="AnaestheticProcedure.Drug_Dose" %}
    {% input field="AnaestheticProcedure.Number_Of_Attempts" %}
    {% radio field="AnaestheticProcedure.Ultrasound" %}
  </div>
</span>

<span ng-show="editing.anaesthetic_procedure.Procedure_Type == 'Central Venous Catheter'">
  <div>
    {% static "AnaestheticProcedure.Procedure_Name" %}
    {% input field="AnaestheticProcedure.Body_Site" %}
    {% input field="AnaestheticProcedure.Device_Used" %}
    {% input field="AnaestheticProcedure.Number_Of_Attempts" %}
    {% radio field="AnaestheticProcedure.Ultrasound" %}
  </div>
</span>

{% textarea field="AnaestheticProcedure.Procedure_Note" %}
{% datetimepicker field="AnaestheticProcedure.Time_Done" %}
