{% load forms %}
<div >
  <div class="row">
    <div class="col-md-12">
      {% input field="GivenFluids.fluid" style="vertical" %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% input field="GivenFluids.volume" style="vertical" %}
    </div>
    <div class="col-md-4">
      {% input field="GivenFluids.unit_number" style="vertical" %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% datetimepicker field="GivenFluids.given_time" style="vertical" %}
    </div>
  </div>
</div>
