{% load forms %}
<div class="row">
  <div class="col-md-12">
    {% input field="Infusion.drug_name" style="vertical" %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% input field="Infusion.concentration" style="vertical" %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    {% input field="Infusion.rate" style="vertical" %}
  </div>
  <div class="col-md-4">
    {% input field="Infusion.units" style="vertical" %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% input field="Infusion.start_time" style="vertical" %}
  </div>
</div>
